In [1]:
import numpy as np
import pandas as pd
import plotly.express as px
import seaborn as sns

In [2]:
df = sns.load_dataset('tips')

In [3]:
df.sample(3)

     total_bill   tip   sex smoker   day    time  size
23        39.42  7.58  Male     No   Sat  Dinner     4
237       32.83  1.17  Male    Yes   Sat  Dinner     2
200       18.71  4.00  Male    Yes  Thur   Lunch     3